@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
@addTagHelper *, AspNetCore.MVC.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body style="background-color: #e6e6e5">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.slider');
            var instance = M.Slider.init(elems, []);
        });

    </script>
    <nav>
        <div class="nav-wrapper" style="background-color: #2c235d">

            <img src="/lib/img/sport.png" style="height:45px;margin-top:10px;margin-right:20px;margin-left:200px" />
            <a  class="brand-logo">Tech Sport</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a asp-controller="Home" asp-action="Index" >All Items</a></li>
                <li><a >Login</a></li>
                <li><a  style="margin-right:130px">Registration</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <nav>
            <div class="nav-wrapper" style="background-color: #2c235d">
                <div class="col s12" style="margin-top:15px;margin-bottom:15px">
                    <a  class="breadcrumb" style="padding-left:30px">First</a>
                    <a class="breadcrumb">Second</a>
                    <a class="breadcrumb">Third</a>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col s3" style="padding:0px;padding-top:7px;width:197px">
                <ul class="collection with-header">
                    <li class="collection-header"><h6>Categories</h6></li>
                    <a asp-controller="Countries" asp-action="Index" class="collection-item"><img style="height:15px;width:15px;margin-right:14px" src="~/lib/img/football-ball.png" />Countries</a>
                    <a  asp-controller="Roles" asp-action="Index" class="collection-item"><img style="height:15px;width:15px;margin-right:14px" src="~/lib/img/football-ball.png" />Brands</a>

                    <a  asp-area="" asp-controller="Items" asp-action="Index" class="collection-item"><img style="height:15px;width:15px;margin-right:14px" src="~/lib/img/football-ball.png" />Items</a>
                    <a  asp-area="" asp-controller="Categories" asp-action="Index" class="collection-item"><img style="height:15px;width:15px;margin-right:14px" src="~/lib/img/football-ball.png" />Categories</a>
                </ul>

            </div>
            <div class="col s9" style="padding-right:0px;width:908px">
                <h4 style="font-weight:bold">Sports and Rest<span class="new badge">23445</span></h4>
                <nav>
                    <div class="nav-wrapper" style="background-color: #2c235d;margin-top:15px">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav>


                <div class="slider" style="margin-top:15px">

                    <ul class="slides">
                        <li>
                            <img src="https://avatars.mds.yandex.net/get-zen_doc/1101166/pub_5d76b960027a1500ae51431b_5d76bce1ec575b00aeb3804c/scale_1200"> <!-- random image -->
                            <div class="caption center-align">
                                <h3>This is our big Tagline!</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/51f9f649500211.58b6fae86196d.jpg"> <!-- random image -->
                            <div class="caption left-align">
                                <h3>Left Aligned Caption</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="https://i.pinimg.com/originals/93/cc/40/93cc405fc53690fe91f87fa3b8b77e2a.jpg"> <!-- random image -->
                            <div class="caption right-align">
                                <h3>Right Aligned Caption</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="https://zanews.ru/uploads/posts/2018-05/1525469078_33.jpg"> <!-- random image -->
                            <div class="caption center-align">
                                <h3>This is our big Tagline!</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                    </ul>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">

                                <img style="height:200px;width:198px" class="materialboxed" src="https://www.velonews.com/wp-content/uploads/sites/5/2011/07/VOECKLER2.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Cycling<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">This is a link</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="height:200px;width:210px" class="activator" src="https://gearscoot.com/wp-content/uploads/2017/09/e100main3-1024x1024.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Scooters<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">This is a link</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="height:200px;width:210px" class="activator" src="http://ae01.alicdn.com/kf/Hd8144e84a71545eca0a2d041a9529d37A/80-20.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Skateboard<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">This is a link</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="height:200px;width:210px" class="activator" src="https://cdn.megabonus.com/images/user/reviews/0.11179600_1552541063.jpg" />
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Skates<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">This is a link</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer" style="background-color: #1e1e1e">
        <div class="container">
            <div class="row">
                <div class="col l6  s3">
                    <h5 class="white-text " style="margin-right:140px">Tech Sport</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3  " href="#!">Tech Sport.Order items from us</a></li>
                    </ul>
                </div>
                <div class="col  s3">
                    <h5 class="white-text">Contacts</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!"><strong>Order service</strong></a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">+7 (775) 007 06 69</a></li>

                    </ul>
                </div>
                <div class="col s3">
                    <h5 class="white-text ">FAQ</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3  " href="#!">Feedback</a></li>
                        <li><a class="grey-text text-lighten-3 " href="#!">About Company</a></li>
                        <li><a class="grey-text text-lighten-3 " href="#!">Events</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 Tech Sport

            </div>
        </div>
    </footer>
</body>
</html>
